#example {
    padding: 20px 20px 30px 20px;
}

#example_wrapper .row {
    padding-bottom: 20px;
}

.register-form, .login {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.truncate {
    max-width: 800px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }